$bg-color: #f8f8fc;
$white: #FFFFFF;
$black: #000000;
$table-header-gray: #C7C7C7;
$active-btn: #1E6EE3;

$divider-line: #E7E8EA;

$table-header: #C7C7C7; // this color may be border colors for some elements

$shadow-color: rgba(0, 0, 0, 0.15);

// text colors --start--
$black-text: #333333;
$strong-black-text: #202020;
$medium-gray: #757575;
$third-text: #939393;
$error-color: #EC5555;
$additional-text: #494C51;
$white-lite-text: #EEEEEE;
$accent-blue-text: #1771E6;
// text colors --end--

// inputs colors --start--
$input-border: #939393;
$input-bg: #ECF1F7;
$input-bg-hover: #E4EBF3;

$input-bg-disabled: #ECECEC;
$input-bg-error: #FBE4E3;

$btn-active: #1E6EE3;
$btn-hover: #0F54B9;
$btn-inactive: #8FB7F1;

$active-link: #1771E6;
$checkbox-border: #E7E8EA;
$bool-input-bg: #E7E8EA;
// inputs colors --end--


// side panel --start--
$active-sp-btn-bg: #009BF11C;
$active-sp-text: #0F54B9;
// side panel --end--

//icons --start--
$icon-bg: #EAF5FF;
$car-number-bg: #ECF1F7;
//icons --end--

//tags --start--
$light-red: #FFE7E8;
//tags --end--